/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>


&sl {
    release-after-ms = <500>;
    /delete-property/ quick-release;
};

/ {
        
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q   &kp W  &kp E
                &kp A   &kp S  &kp D
                >;
        };

        // Numbers and punctuations each on separate row
        num_punc_layer {
            bindings = <
                &kp EXCL      &kp AT     &kp HASH
                &hl LCTRL N1  &kp N2     &kp N3
                >;
        };

        nav_sys_layer {
            bindings = <
                &ht LGUI F9   &kp F10  &kp F11
                &ht LCTRL F5  &kp F6   &kp F7
                >;
        };

        nav_numpad_layer {
            bindings = <
                &none         &kp HOME     &kp UP
                &kp END       &kp LEFT     &kp DOWN
                >;
        };

        bt_layer {
            bindings = <
                &none         &none         &btcl
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
                >;
        };

    };

};
